<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Archivos</title>
</head>
<body>
    <h1>Bienvenido, {{ request.user.username }}!</h1> <!-- holis -->
    
    <h1>Archivos</h1>
    <ul>
        {% for archivo in archivos %}
            <li>
                <a href="{{ archivo.archivo.url }}" target="_blank">{{ archivo.nombre }}</a>
                <form method="POST" style="display:inline;" action="{% url 'eliminar_archivo' archivo.id %}">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% empty %}
            <li>No hay archivos subidos aún.</li>
        {% endfor %}
    </ul>


    <!-- compartir y recibir -->
    <h2>Acciones</h2>
    <ul>
        <li>
            <a href="{% url 'compartir_archivo' %}">Compartir Archivos</a>
        </li>
        <li>
            <a href="{% url 'recibir_archivos' %}">Recibir Archivos</a>
        </li>
    </ul>

    <!-- cerrar sesión -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>

    <!-- botón para subir un archivo -->
    <form method="GET" action="{% url 'subir_archivo' %}">
        <button type="submit">Subir un archivo</button>
    </form>
</body>
</html>
