<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Archivos</title>
</head>
<body>
    <h1>Archivos Subidos</h1>
    <ul>
        {% for archivo in archivos %}
            <li>
                <a href="{{ archivo.archivo.url }}" target="_blank">{{ archivo.nombre }}</a>
            </li>
        {% empty %}
            <li>No hay archivos subidos aún.</li>
        {% endfor %}
    </ul>

    <!-- cerrar sesión -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>

    <!-- botón para subir un archivo -->
    <form method="GET" action="{% url 'subir_archivo' %}">
        <button type="submit">Subir un archivo</button>
    </form>
</body>
</html>
